[submodule "backend"]
	path = backend
	url = git@github.com:GenkiKishikawa/study-time-app-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:GenkiKishikawa/study-time-app-frontend.git
