[submodule "study-time-app-frontend"]
	path = study-time-app-frontend
	url = git@github.com:GenkiKishikawa/study-time-app-frontend.git
[submodule "study-time-app-backend"]
	path = study-time-app-backend
	url = git@github.com:GenkiKishikawa/study-time-app-backend.git
